{
  "extends": ["oclif", "oclif-typescript", "prettier"],
  "plugins": ["no-loops", "prettier"],
  "rules": {
    "no-console": "off",
    "no-loops/no-loops": 2,
    "prettier/prettier": "error"
  }
}
