{
  "extends": ["oclif", "oclif-typescript", "plugin:prettier/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["no-loops", "@typescript-eslint"],
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "no-console": "off",
    "no-loops/no-loops": 2
  }
}
